@import "partials/variables";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

@import "business-casual";

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 128px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
